body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-signin {
    padding: 2rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
    box-shadow: rgb(0 0 0 / 13%) 0 2px 5px 5px;
}

.login-header {
    height: 120px;
    margin-bottom: 2rem;
}

#kc-header-wrapper {
    height: 100%;
}

div.kc-logo-text {
    background: url(../img/logo.svg) no-repeat center center;
    display: block;
    height: 100%;
}

div.kc-logo-text > span {
    display: none;
}

#kc-form-login {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-button {
    background-color: #009ef7;
    border: 1px solid gray;
    box-shadow: 0 2px 3px rgb(3 3 3 / 10%);
    color: white;
    padding: 6px 10px;
    font-size: 14px;
    line-height: 1.3333333;
    border-radius: 2px;
}

#input-error {
    color: #c00;
    display: block;
    margin-top: .25rem;
}